{% extends 'base.html' %} {% block title%} Add_Contacts {% endblock%} {% block section%}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 d-flex">
            <form class="bg-dark mt-5 p-5 edt_con text-white" method="post" enctype="multipart/form-data">
                <label class="mb-0 mt-2">Name:</label>
                <input class="form-control" type="text" name="name" value="{{user_fund[1]}}">
                <label class="mb-0 mt-2">Surname:</label>
                <input class="form-control" type="text" name="surname" value="{{user_fund[2]}}">
                <label class="mb-0 mt-2">Phone Number:</label>
                <input class="form-control" type="tel" name="phone" value="{{user_fund[3]}}">
                <label class="mb-0 mt-2">Email:</label>
                <input class="form-control" type="email" name="email" value="{{user_fund[4]}}">
                <label class="mb-0 mt-2">Home Address:</label>
                <input class="form-control" type="text" name="address" value="{{user_fund[5]}}">
                <label class="mb-0 mt-2">Description:</label>

                <div style="width: 100%;">
                    <textarea name="description" id="" cols="63" rows="3" value="{{user_fund[6]}}">
                {{user_fund[6]}}
                </textarea>
                </div>
                <label class="mb-0 mt-2">Profile Picture:</label>
                <input class="form-control" type="file" name="picture">
                <input class="btn btn-lg mt-2 btn-info" type="submit" value="Save">
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{%endblock%}